services:
    nesto-php:
        container_name: nesto-backend
        build:
            context: .
            dockerfile: Dockerfile
        restart: always
        depends_on:
            - nesto-database
        ports:
            - "8000:8080"
            - "443:443"
            - "443:443/udp"
        environment:
            SERVER_NAME: ":8080"  #Deactivate for prod for activate for https
            CADDY_GLOBAL_OPTIONS: "auto_https off" #Deactivate for prod for activate for https
        volumes:
            - .:/app
            - caddy_data:/data
            - caddy_config:/config
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure

    nesto-database:
        container_name: nesto-database
        image: mysql:8.0
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
        volumes:
            -   nesto_database:/etc/mysql/conf.d
        ports:
            -   "3306:3306"
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure

    nesto-phpmyadmin:
        container_name: nesto-phpmyadmin
        depends_on:
            -   nesto-database
        image: phpmyadmin
        restart: always
        environment:
            PMA_USER: root
            PMA_PASSWORD: root
            PMA_HOST: nesto-database
            PMA_PORT: 3306
        ports:
            -   "8080:80"
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure

volumes:
    caddy_data:
    caddy_config:
    nesto_database:

